{% extends "base.html" %}
{% block content %}
<form method="POST" class="post-form" enctype="multipart/form-data">

  {% for key,value in form.errors.items %}
    <div class="alert alert-danger" role="alert">
      {{ value|escape}}
    </div>
  {% endfor %}
  {% csrf_token %}
  {% for field in form %}
    <div class="form-group">
      {{ field.label }}
      {{ field }}
      <small>{{ field.help_text|safe }}</small>
    </div>
{% endfor %}
<input type="submit" value="Сохранить" >
{% endblock %}