{% extends 'base.html' %}

{% block content %}
<h2 align="center" style="color:Black"> Главная страница новостей </h2>
<div class="topnav">
    <div class="topnav-right">
        <h4> Привет {{user}} </h4>
        <a href="signup/">Регистрация</a> 
        <a href="login/">Войти</a>
    {% if user.is_authenticated %}
    <h5 align="left"><a href="create/">Создать новость</a><h5>
    {% endif %}
    </div>
  </div>
    {% for i in page_obj %}
        <center>Количество коментариев: {{i.comments.count}}</center>
        <center>Количество лайков: {{i.likes.count}}</center>
    <li>
        <center><h2>{{i.title}}</h2></center>
        <center><p>{{i.text}}</p></center>
        <center><a> Автор новости: {{i.author}}</a></center>
        <center><a> Дата публикации: {{i.pub_date}}</a></center>
        <center>{%include 'like.html'%}</center>
        {% if user == i.author %}
        <center><button type="submit"> <a href="edit/{{i.id}}">Изменить</a> | <a href="delete/{{i.id}}">Удалить</a></td></button></center>
        {% endif %}
        <center><button type="submit"> <a href="{{i.id}}"> Посмотреть новость полнстью</a> </button></center>
        <hr>
    </li>
    {% endfor %}
    {% include 'paginator.html' %}
{% endblock %}